@model App.DAL.Models.TblCrewTraining

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<div class="box-content">
    <div class="box-heading">
        <div class="box-title">
            <h3 class="mb-35">Update Director</h3>
        </div>
        <div class="box-breadcrumb">
            <a class="btn btn-dark" asp-controller="CrewTraining" asp-action="CrewTrainingIndex">Back to List</a>
        </div>
    </div>
    <div class="row">
        <div class="form-control">
            <form asp-action="EditCrewTraining" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CrewTrainingId" />
                <input type="hidden" asp-for="Image" />

                <div class="form-group">
                    <label class="control-label">Title Name</label>
                    <input id="Title" data-member="Title" asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Details" class="control-label"></label>
                    <textarea asp-for="Details" class="form-control" rows="5" maxlength="500"></textarea>
                    <small class="text-muted">------Max 500 character---</small>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="control-label"></label>
                    <input id="Url" data-member="Url" asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
               


                @*<label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />*@
                <img src="@Model.Image" height="150" width="300" />
                <div class="form-group">
                    <label class="control-label">Change Profile Image</label>
                    <input id="PhotoUpload" name="PhotoUpload" data-member="PhotoUpload" asp-for="PhotoUpload" class="form-control" />
                    <span asp-validation-for="PhotoUpload" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</div>


<script>
    CKEDITOR.replace('Details', {
        width: '100%',
        height: 300
    });
</script>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
