@model App.DAL.Models.TblMissionVission

@{
    ViewData["Title"] = "Mission & Vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
</head>
<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">Mission & Vision</h2>
                        <p class="font-lg color-text-paragraph-2">We work for the best.</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Mission & Vision</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    @*<h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>*@
                    <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp" style="font-size:25px;">
                        Marine Hive Ltd was established in the year 2015,
                        under the company act of the Govt. of Bangladesh and Licensed by the Director General, Department of Shipping as an authorized Crew Recruiting / Manning agency.
                    </h2>
                    @*<p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                    Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range
                    of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                    operation for the shipping sector and steps ahead in providing energy to the shipping world.
                    </p>*@
                </div>
                <div class="row mt-70">
                    <div class="col-lg-6 col-md-12 col-sm-12"><img src="@Model.MissionImage" alt="joxBox"></div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h3 class="mt-15">Our Mission</h3>
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20">
                                @Html.Raw(Model.MissionDetails)



                            </p>
                        </div>
                        @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
                    </div>
                </div>
                <div class="row mt-70">

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h3 class="mt-15">Our Vision</h3>
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20 ">
                                @Html.Raw(Model.VissionDetails)
                            </p>
                        </div>
                        @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12"><img src="~/images/gallery/c5383358-9ff7-4f88-a0c8-d04b8874a8c9_108155e2818b3d1183d1de79d25cc96.jpg" alt="joxBox"></div>
                </div>
            </div>
        </div>
    </section>
</main>


