@model App.DAL.Models.TblWhyBdcrew
@{
    ViewData["Title"] = "WhyBDCrew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>

    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
</head>
<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">Why Bangladeshi Crew</h2>
                        <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Why Bangladeshi Crew</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
                    <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                        Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range
                        of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                        operation for the shipping sector and steps ahead in providing energy to the shipping world.
                    </p>
                </div>
                <div class="row mt-70">
                    <div class="col-lg-6 col-md-12 col-sm-12"><img src="@Model.Image" alt="Why BD Crew"></div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h3 class="mt-15">Why Bangladeshi Crew</h3>
                        <div class="mt-20">
                           
                                @{
                                    if (Model.Details != "" || Model.Details != null)
                                    {
                                    <p class="font-md color-text-paragraph mt-20">
                                        @Html.Raw(Model.Details)
                                    </p>
                                    }
                                }
                                
                        </div>
                        @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
                    </div>
                   @* <div class="col-lg-6 col-md-12 col-sm-12">
                       
                        <div class="mt-20">
                            
                                @{
                                    if (Model.Details != "" || Model.Details != null && Model.Details.Length > 100)
                                    {
                                    <p class="font-md color-text-paragraph mt-20">
                                    
                                        @Html.Raw(Model.Details.Substring(101));
                                    </p>
                                    }
                                }
                                
                                
                            
                        </div>*@
                        @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>




