.bg-img-about {
    background: url(../../../../images/img-about.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
}

.container {
    max-width: 96%;
}

.header {
    padding: 6px 0px 12px 0px;
    float: left;
    width: 100%;
}

.bg-img-crewTraining {
    background: url(../../../../images/CrewTraining/WMS-1.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
}
.crewDetails-img {
    height: 70px;
    width: 70px;
}

.dt-btn-update {
    background-color: #0000b3;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    font-size: 12px !important;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.dt-btn-delete {
    background-color: #ff3333;
    border: none;
    color: white;
    font-weight: 500;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px !important;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
